:root {
  font-size: 62.5%;
  font-family: "Anton", sans-serif;

  --primary-dark-color: #191a19;
  --secondary-dark-color: #2e4c6d;
  --main-color: #099e58;
  --secondary-color: #16e7dd;
  --green-price-color: #66f115;
  --primary-gray-color: #f7f7f7;
  --secondary-gray-color: #a09e9e;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 2rem;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to right,
    var(--secondary-color),
    var(--main-color)
  );
  display: flex;
  gap: 2rem;
}

.title {
  font-size: 3vw;

  display: inline-block;
}

.title-a-tag {
  text-decoration: none;
  color: inherit;
}

.credit {
  display: inline-block;
  font-size: 1.5rem;
}

.credit-img {
  max-width: 20vw;
  max-height: 8vh;
}

.result-area,
.main-display-content {
  max-width: 225rem;
  margin: 0 auto;
}

/* ========================================================================
Search bar and dropdown content section
========================================================================*/

.search-area {
  padding: 2rem;
  background-color: #f7f7f7;
}

.search-bar {
  position: relative;
  display: inline-block;
  min-width: 40vw;
}

.input-bar {
  width: 80%;
}

.input-bar,
.search-bar-btn {
  font-size: 3rem;
  border: none;
  background-color: #fff;
  padding: 0.5rem;
}

.input-bar:focus {
  outline: none;
}

.search-bar-btn {
  position: absolute;
}

.search-bar-btn:hover {
  cursor: pointer;
  color: var(--main-color);
}

.hidden {
  display: none;
}

.result-list {
  position: absolute;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 2.5rem;
  width: calc(80% + 4rem);
  border-top: 0;
  list-style: none;
  background-color: #f7f7f7;
  padding-inline-start: 3px;
  padding-inline-end: 3px;
  padding-top: 1.2rem;
  box-shadow: 0px 2px 5px #888888;
  z-index: 1;
}
.result-list li {
  padding: 1rem;
}
.result-list li:hover {
  background-color: #fff;
  cursor: pointer;
}

.dropdown-list {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: stretch;
}
.dropdown-tv-name {
  flex: 1;
  font-weight: 500;
}

.dropdown-tv-raing {
  justify-self: stretch;
}

/* ========================================================================
Main result content section
========================================================================*/
.result-area {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 1rem;
}

.tv-show-card {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  background-color: var(--primary-gray-color);
  background-size: cover;
  padding-top: 25rem;
  max-width: 35ch;
  min-width: 20ch;
  margin: 2rem 1rem;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.8);

  transition: transform 400ms ease;
}

.tv-show-card:hover {
  transform: scale(1.03);
}

.tv-show-card:hover .tv-show-title::after {
  transform: scaleX(1);
}

.tv-show-card:hover .tv-show-content {
  transform: translateY(0);
}

.tv-show-content {
  padding: 1.5rem;

  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.85));
  transform: translateY(78%);
  transition: transform 500ms ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tv-show-title {
  font-size: 3.5rem;
  max-width: 32ch;
  position: relative;
}

.tv-show-title::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 0.5rem;
  background-color: var(--green-price-color);
  bottom: 0px;
  left: -1.5rem;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms ease-in;
}

.tv-show-summary {
  margin-top: 1rem;
}

.learn-more-btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 1rem;
  color: #fff;
  background-color: var(--main-color);
  margin-top: 1rem;
  padding: 1.5rem;
  width: 12ch;
  font-size: 2.3rem;
  cursor: pointer;
}

.learn-more-btn:hover,
.learn-more-btn:focus {
  background-color: var(--primary-gray-color);
  color: var(--primary-dark-color);
}

/* ========================================================================
Main more details content section
========================================================================*/
.more-details {
  background-color: var(--primary-gray-color);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  font-size: 3rem;
  column-gap: 3rem;
  row-gap: 1rem;
  min-width: 70vw;
}

.more-details span {
  font-family: "Roboto", sans-serif;
}

.poster {
  grid-row: 1/-1;
}

.poster-image {
  max-height: 70vh;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.8);
}

.summary-text {
  font-size: 2rem;
  line-height: 3rem;
}

.info-title,
.details-title,
.cast-title {
  background-image: linear-gradient(
    to right,
    var(--secondary-color),
    var(--main-color)
  );
  color: #fff;
  letter-spacing: 0.3rem;
}

.info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5rem;
}

.external-links-div {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  max-height: 5rem;
}
.external-link {
  display: inline-block;
  padding: 1.5rem;
  border-radius: 2rem;
  width: 3.5em;
  height: 1.5em;
  background-size: cover;
}

.external-link-official {
  color: var(--main-color);
  padding: 0 2rem;
  border-radius: 1rem;
  text-align: center;
  align-items: baseline;
  align-content: center;
  border: 1px solid var(--primary-dark-color);
}

.external-link-official:hover {
  color: var(--green-price-color);
}

.external-link-imdb {
  background-image: url(/images/IMDB.png);
}

.external-link-tvrage {
  border: 1px solid var(--primary-dark-color);
  background-image: url(/images/tvrage.png);
}

.external-link-thetvdb {
  background-image: url(/images/thetvdb.png);
  background-color: var(--primary-dark-color);
}

/* ======== addon cast dropdown section  ========== */
.cast-title {
  display: flex;
  justify-content: space-between;
  padding: 0 0.3rem;
}

.cast-title-text {
  display: inline-block;
  font-family: "Anton", sans-serif;
}

.cast-title-dropdown {
  width: 5rem;
  height: 5rem;
  background: none;
  padding: 0.5rem;
  border: none;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.cast-title-dropdown:hover {
  opacity: 0.5;
}

/* ========================================================================
Main more details content section
========================================================================*/
.main-display-content {
  display: flex;
  flex-direction: column;
}

/* ========================================================================
media query for responsive devices
========================================================================*/
@media only screen and (max-width: 1730px) {
  .tv-show-cast {
    grid-column: 1 / -1;
  }

  .title-a-tag {
    font-size: 5rem;
  }

  .main-display-content .trending-title {
    font-size: 3.5rem;
  }

  .main-display-content .slider-button {
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 1300px) {
  .people-info-details .people-info-details-box {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 1080px) {
  .title-a-tag {
    font-size: 4.2rem;
  }

  .search-bar {
    width: 60vw;
  }

  /* --------- more detail section ----------- */
  .poster-image {
    max-width: 50rem;
    max-height: 80rem;
  }

  .tv-show-cast {
    grid-column: 1 / -1;
  }

  .tv-show-cast-grid .cast-list {
    gap: 2rem;
  }

  .main-display-content .trending-title {
    font-size: 3.5rem;
  }

  /* Actor information and filmography section*/
  .people-info-details-box .people-portrait {
    max-height: 50rem;
    max-width: 30rem;
  }

  .people-info-details .people-info-details-box {
    flex-direction: column;
    align-items: center;
  }

  .main-display-content .slider-button {
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1000px) {
  .more-details {
    display: flex;
    flex-direction: column;
    font-size: 2em;
  }
}

@media only screen and (max-width: 770px) {
  header {
    flex-direction: column;
    gap: 0;
    padding: 1rem;
  }

  header .title-a-tag {
    font-size: 3.5rem;
  }
  .credit {
    font-size: 1rem;
    align-self: flex-end;
  }

  .search-area .search-bar {
    width: 90vw;
  }

  /* --------- more detail section ----------- */
  .more-details {
    display: flex;
    flex-direction: column;
    font-size: 2em;
  }
  .summary-text {
    font-size: 0.7em;
  }

  .poster-image {
    width: 95%;
  }

  .cast-title-dropdown {
    font-size: 2.5rem;
    width: 3.3rem;
    height: 3.3rem;
  }

  /* Trending and popular section at max 600 */
  .main-display-content .trending-title {
    font-size: 2.8rem;
  }

  .main-display-content .slider-button {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  .trending-card {
    min-width: 22rem;
    font-size: 1rem;
  }

  .front-image {
    max-height: 30rem;
  }

  .trending-card-front .trending-name {
    height: 3rem;
    font-size: 3rem;
    align-self: flex-start;
  }

  .trending-card-back .trending-start-watching {
    font-size: 1.8rem;
    padding: 1rem;
  }

  .trending-cast-detail .trending-cast-name {
    font-size: 2rem;
  }

  /* Cast dropdown section from tv show details */
  .tv-show-cast .tv-show-cast-grid {
    grid-template-columns: 1fr;
  }

  .tv-show-cast-grid .cast-list {
    justify-content: center;
    align-items: center;
    gap: 0;
    border-bottom: 0.5rem solid var(--main-color);
    padding-bottom: 0.5rem;
  }

  .cast-list .cast-list-individual-box {
    display: flex;
    flex-direction: column;
  }

  /* Actor information and filmography section*/

  .people-info-title-bar .people-info-title-text {
    font-size: 2.5rem;
  }

  .people-information .people-info-details {
    display: flex;
    flex-direction: column;
  }

  .people-info-details .people-info-details-box {
    flex-direction: column;
    align-items: center;
  }
  .people-info-text {
    border: 0.3rem solid var(--secondary-gray-color);
    border-radius: 2rem;
    padding: 0.5rem;
    width: 80vw;
  }

  .people-info-details-box .people-portrait {
    max-height: 50rem;
    max-width: 30rem;
  }

  .people-other-shows .other-shows-box {
    flex-direction: column;
  }

  .other-shows-box .other-show-character-portrait-div {
    padding-bottom: 1.5rem;
  }

  .external-links-div {
    flex-wrap: wrap;
    max-height: 10rem;
  }
}
