.tv-show-cast-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;
  row-gap: 2rem;
  padding: 1rem;
}

.cast-title {
  grid-column: 1/-1;
}

.cast-list {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: left;
  gap: 15rem;
}

.cast-list-individual-box {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.cast-list-individual-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cast-list-individual-details p {
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem 0.1rem;
}
.character-name {
  font-family: "Anton", sans-serif;
  font-size: 4rem;
}
.cast-name-div {
  display: flex;
}

.cast-name {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
}

.cast-name:hover,
.cast-name:focus {
  cursor: pointer;
  color: var(--main-color);
}

.cast-name:active {
  transform: scale(0.97);
}

.cast-list-individual-details span {
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

.portrait-real {
  object-position: 20% 20%;
  width: 20rem;
  height: 20rem;
  object-fit: none;
  border-radius: 50%;
  border: 2px solid var(--secondary-gray-color);
}

.portrait-in-show {
  border-radius: 2rem;
  border: 0.3rem solid var(--secondary-gray-color);
}
