:root {
  font-size: 62.5%;
  font-family: "Anton", sans-serif;

  --primary-dark-color: #191a19;
  --secondary-dark-color: #2e4c6d;
  --main-color: #099e58;
  --secondary-color: #16e7dd;
  --green-price-color: #66f115;
  --primary-gray-color: #f7f7f7;
  --secondary-gray-color: #a09e9e;

  --gold-color: #ffca03;
  --silver-color: #eaeaea;
  --bronze-color: #c56824;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .trendingTV {
  margin: 0 5rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
  justify-content: center;
} */

.trendingTV {
  margin: 0 5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: visible;
}

.hide-it {
  display: none !important;
}

.main-display-content {
  position: relative;
}

.slider-button {
  position: absolute;
  width: 7rem;
  height: 7rem;
  font-size: 5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.slider-button:hover {
  opacity: 0.5;
}

.slider-button:active {
  transform: scale(0.95);
}

.left-slider-btn {
  top: 50%;
  left: 5%;
  color: var(--secondary-color);
  border: 0.3rem solid var(--secondary-color);
}

.right-slider-btn {
  top: 50%;
  right: 5%;
  border: 0.3rem solid var(--main-color);
  color: var(--main-color);
}

.trending-title {
  background-image: linear-gradient(
    to right,
    var(--secondary-color),
    var(--main-color)
  );
  width: 95vw;
  max-width: 250rem;
  font-size: 5rem;
  color: #fff;
  letter-spacing: 0.3rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.trending-title-expand {
  /* width: 5rem;
  height: 5rem; */
  background: none;
  padding: 0.5rem;
  border: none;
  font-size: 4.5rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.trending-title-expand:hover {
  opacity: 0.85;
}
.trending-title-expand:active {
  transform: scale(0.97);
}

.trending-card {
  margin: 6rem;
  position: relative;
  max-width: 28rem;
  /* padding: 3rem; */
  border: 0.3rem solid var(--secondary-gray-color);
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 1.5rem black;
}

.trending-rank {
  position: absolute;
  font-weight: bold;
  z-index: 10;
  font-size: 5rem;
  background: rgba(123, 0, 0, 0.8);
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  right: 5%;
  color: #fff;
  clip-path: polygon(100% 0, 100% 100%, 50% 84%, 0% 100%, 0 70%, 0% 0%);
}

.gold-rank {
  background-color: var(--gold-color) !important;
  opacity: 0.8;
  color: #fff;
}

.silver-rank {
  background-color: var(--silver-color) !important;
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.8) !important;
}

.bronze-rank {
  background-color: var(--bronze-color) !important;
  opacity: 0.8;
}

/* ====================================
Front card
========================================*/
.trending-card-front {
  display: flex;
  flex-direction: column;
}

.trending-name {
  font-size: 4rem;
  text-align: center;
  white-space: nowrap;
  min-height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-image {
  width: 100%;
  height: 40rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.trending-cast {
  display: flex;
}

.trending-cast-img {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 50%;
  border: 1px solid var(--primary-dark-color);
}

.bottom-info {
  padding: 0 1rem;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.fa-star {
  color: rgba(221, 185, 25, 0.712);
}

.trending-rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.75rem;
}

/* ====================================
Back card
========================================*/
.trending-card-back {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.trending-start-watching {
  white-space: nowrap;
  display: inline-block;
  border: 1px solid black;
  border-radius: 1rem;
  color: #fff;
  background-color: var(--main-color);
  text-decoration: none;
  padding: 1.5rem;
  font-size: 2.3rem;
  cursor: pointer;
}

.trending-start-watching:hover {
  background-color: rgb(30, 187, 166);
}

.trending-cast-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
}

.trending-cast-detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.trending-cast-name {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  font-size: 3rem;
  white-space: nowrap;
}

.trending-cast-name:hover,
.trending-cast-name:focus {
  cursor: pointer;
  color: var(--main-color);
}

.trending-cast-name:active {
  transform: scale(0.97);
}

/* ====================================
Background
========================================*/

.trending-card-background {
  opacity: 0.78;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.8);

  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10%;
  right: -10%;
  z-index: -1;
  transform: scale(0);
  transition: transform 500ms ease-in-out, opacity 200ms linear;
}

.trending-card-background img {
  width: 100%;
}

/* ====================================
Whole card hover
========================================*/

.trending-card:hover {
  border: none;
  overflow: visible;
  box-shadow: none;
}

.trending-card:hover .trending-card-background {
  /* width: 150%; */
  transform: scaleX(1.2) scaleY(1.03);
}

.trending-card:hover .trending-card-front {
  transition: transform 500ms;
  transform: translateY(-15%) scale(0.8);
}

.trending-card:hover .bottom-info {
  opacity: 0;
}

.trending-card:hover .trending-rank {
  top: -1.55%;
  right: -15%;
  transition: top 500ms ease, right 500ms ease;
}

.trending-card:hover .trending-card-back {
  opacity: 1;
  transform: translateY(10%);
}

.trending-card:hover .trending-name {
  opacity: 0;
}

/* ====================================
content placeholder 
========================================*/

.trending-card-placeholder-section {
  display: flex;
}

.content-placeholder-img {
  display: inline-block;
  width: 28rem;
  height: 38rem;
  margin-bottom: 1rem;
}

.content-placeholder-text {
  font-size: 3rem;
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #edeef1 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgMoving 1100ms linear infinite;
  border-radius: 2rem;
}

@keyframes bgMoving {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -150% 0;
  }
}
