@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");

.trending-see-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trending-see-more__show-item {
  box-sizing: border-box;
  margin: 3rem;
  max-width: 110rem;
  max-height: 50.8rem;

  object-fit: contain;
  display: flex;
  /* overflow: hidden; */
  align-items: flex-start;
  border-top: 0.4rem solid var(--secondary-gray-color);
  border-bottom: 0.4rem solid var(--secondary-gray-color);
  /* border-radius: 1.5rem; */
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.8);
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.trending-see-more-poster-img {
  max-height: 50rem;
  object-fit: contain;
}

.trending-see-more__show-mid-container {
  height: 100%;
  font-size: 1.7rem;
  font-weight: 700;
  max-width: 670px;
  padding: 0 2rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1 1 0px;
}

.trending-see-more__show-title {
  padding-left: 3rem;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(
    to right,
    var(--secondary-color),
    var(--main-color)
  );
}

.trending-see-more__show-content {
  display: flex;
  overflow: hidden;
  height: 45.1rem;
}

.watch-options {
  display: flex;
  gap: 2rem;
}

.trending-see-more__show-end-container {
  padding: 1rem;
  height: 100%;
  width: 100%;
  overflow: auto;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.trending-cast-more {
  height: 100%;
  overflow: auto;
}

.trending-see-more__show-score {
  display: flex;
  gap: 2rem;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 87%;
}

.trailer-option-btn,
.watch-now-option-btn {
  width: 12rem;
  padding: 0.8em;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  border: none;
  border-radius: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.watch-now-option-btn:hover {
  background-color: rgb(30, 187, 166);
}

.trailer-option-btn {
  background-color: rgb(214, 55, 55);
}

.trailer-option-btn:hover {
  background-color: rgb(141, 10, 10);
}

.trending-see-more__show-rank {
  position: absolute;
  font-weight: bold;
  z-index: 10;
  font-size: 6rem;
  background: rgba(123, 0, 0, 0.8);
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  right: -2.5%;
  top: -6%;
  color: #fff;
  clip-path: polygon(100% 0, 100% 100%, 50% 84%, 0% 100%, 0 70%, 0% 0%);
}

.trending-see-more__show-end-container .trending-cast-name {
  font-family: inherit;
}

/* --------------- content loader ----------------------*/

.cph-content {
  margin-top: 1rem;
  display: block;
  width: 100%;
}

.cph-title {
  width: 70rem;
}

.cph-text-content {
  display: flex;
}

.cph-summary {
  gap: 0;
}

.cph-cast {
  gap: 2rem;
}

.cph-img {
  border-radius: 0;
  height: 50rem;
}

.cph-btns {
  margin-top: 3rem;
  gap: 1rem;
  display: flex;
}
/* --------------- content loader ----------------------*/
